<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div class="window">
  <a class="nav-link active" href="/brewguides"><h1>Brew Guides</h1></a>

  <% if (user) { %>
    <div class="form">

      <h3>Add a brew guide</h3>

      <form action="/brewguides" method="POST">
        <label>Name:</label>
        <input type="text" name="name" placeholder="Brewguide name" autocomplete="off">

        <label for="brewdevice-select">Brew Device:</label>
        <select name="brewdevice">
          <option value="V60">V60</option>
          <option value="Chemex">Chemex</option>
          <option value="Kalita">Kalita</option>
          <option value="French Press">French Press</option>
          <option value="Aeropress">Aeropress</option>
          <option value="MokaPot">MokaPot</option>
        </select>

        <label for="grindsize-select">Grind Size:</label>
        <select name="grindsize">
          <option value="Course">Course</option>
          <option value="Medium Course">Medium Course</option>
          <option value="Medium">Medium</option>
          <option value="Fine">Fine</option>
          <option value="Extra Fine">Extra Fine</option>
        </select>

        <label>Ground Coffee:</label>
        <input type="text" name="gramsofcoffee" placeholder="25 grams" autocomplete="off">

        <label>Total Water:</label>
        <input type="text" name="totalwater" placeholder="400 grams" autocomplete="off">

        <label>Water Temp:</label>
        <input type="text" name="watertemp" placeholder="205 F" autocomplete="off">

        <label>Brew Time:</label>
        <input type="text" name="brewtime" placeholder="2:30" autocomplete="off">

        <center>
          <button type="submit" class="btn btn-light">Add</button>
        </center>

      </form>
    </div>
  <% } %>
</div>

<%- include('../partials/footer') %>