html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

#navbar {
  background-color: #eeeeee;
  font-size: 1.6rem;
  color: black;
}

body {
  background-image: url("https://images.pexels.com/photos/6205728/pexels-photo-6205728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;

  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 3.6rem;
  margin: 50px 0 30px;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h6 {
  font-size: 1.3rem;
}

p {
  font-size: 1.3rem;
}

label, select {
  font-size: 14px;
}

.text {
  font-size: 15px;
}

a:link,
a:visited {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.content {
  margin: auto 200px;
  padding: 5rem;

  color: #fff;
  background-color: rgba(0,0,0,.7);
}